doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Lina Saffron
    // XXXXXXXXXXXXXXXXXXXxxxx
    link(rel='icon', href='./assets/img/logo.png', type='image/x-icon')
    link(rel='stylesheet', href='./assets/css/style.css')
    link(rel='stylesheet', href='./assets/css/vars.css')
    link(rel='stylesheet', href='./assets/fonts/themify-icons-font/themify-icons/themify-icons.css')
    link(rel='stylesheet', href='./assets/css/frame4_trendin.css')
    link(rel='stylesheet', href='./assets/css/footer.css')
    script(src='https://kit.fontawesome.com/93a82ce0e9.js', crossorigin='anonymous')
  body
    .bgrColor2
    .bgrColor1
    .bgrColor0
    .frame1
      .bgrColor0--m
      a.logo(href='#')
        img(src='./assets/img/logo.png', width='78', height='75')
      .bigImage
      #txtMain
        h1 Saffron Bahraman
        h2 V&agrave;ng &dstrok;&#x1ECF; c&#x1EE7;a Iran
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .dummy
      // CÁC SẢN PHẨM
      #navBar
        ul.navBar
          // <li>SAXXXASD</li>
          a(href='#frame2') V&#x1EC0; SAFFRON
          li.abc
            | C&Aacute;C S&#x1EA2;N PH&#x1EA8;M
            ul.subNav
              li.subNav__gr1 Saffron
              li
                a(href='./pages/explore.html') Safrron 1gr, 2gr, 3gr, 5gr
              li
                a(href='#') Set qu&agrave; t&#x1EB7;ng
              // <li class="subNav__gr2 subNav__gr1">Sản phẩm chiết xuất</li>
              li.subNav__gr2.subNav__gr1 S&#x1EA3;n ph&#x1EA9;m chi&#x1EBF;t xu&#x1EA5;t t&#x1EEB; Saffron
              li
                a(href='#') M&#x1EB7;t n&#x1EA1;
              li
                a(href='#') Dung d&#x1ECB;ch v&#x1EC7; sinh
              li
                a(href='#') Serum, kem d&#x1B0;&#x1EE1;ng
          // ĐANG THỊNH HÀNH
          // <li></li>
          // <li><a href="#frame4__before">ĐANG THỊNH HÀNH</a></li>
          a(href='#frame4__before') &Dstrok;ANG TH&#x1ECA;NH H&Agrave;NH
          // <li><a href="#frame5">ĐÁNH GIÁ</a></li>
          a(href='#frame5') &Dstrok;&Aacute;NH GI&Aacute;
          .blur
    #frame2
    .frame2
    .frame3
      .f3__inside
    #frame4__before
      .f4bf--txt &Dstrok;ANG TH&#x1ECA;NH H&Agrave;NH
    .frame4
      .f4__yellow.vhl
      .guidef4.vhl
      .bgr
      .f4__main.vhl
        .f4__item
          .f4__itsMain.vhl
            .f4__img
            .f4__txt
              h1 BOX 5XX SIZE
              h2 123456
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tempor nisi. Vestibulum risus nisl, rhoncus vel nisi eu, tempor euismod erat.
          .f4__btn MUA HANG
        //
          <div class="f4__item"></div>
          <div class="f4__item"></div>
          <div class="f4__item"></div>
          <div class="f4__item"></div>
    #frame5
      .fr5__container
        .fr5__fbImgs
          img.img-no_1
          img.img-no_2
          img.img-no_3
          img.img-no_4
          // <button onclick="left()" class="btn"></button>
          .btn.btn--left(onclick='f5slide(-1)')
          .btn.btn--right(onclick='f5slide(1)')
        | &#x9;
        .fr5__fbTxt
    .frame6
      #fr6__blurBgr.fr6__blurBgr
      #fr6__container.fr6__container
      .f6__wbgr
    #frame7
    .frame7
      .guide
      .footer__container
        .ft__c1.ft__c1--txt
          | LI&Ecirc;N H&#x1EC6;
          ul
            li
              i.ti-location-pin.ti
              | HAI DUONG, VIET NAM
            li
              i.ti-location-pin.ti
              | MOSCOW, LIEN BANG NGA
            li
              i.ti-mobile.ti
              a(href='tel:+84 000 999 000') + 84 000 999 000
            li
              i.ti-mobile.ti
              a(href='tel:+7 999 000 999') + 7 999 000 999
            li
              i.ti-email.ti
              a(href='mailto:mail@msi.com') MAIL@MSI.COM
        .ft__c2.ft__c1--txt
          | B&#x1EA2;N &Dstrok;&#x1ED2;
          ul
            li
              a(href='#') V&#x1EC1; &dstrok;&#x1EA7;u trang
            li
              a(href='./pages/explore.html') C&aacute;c s&#x1EA3;n ph&#x1EA9;m
            li
              a(href='#frame4__before') &Dstrok;ang th&#x1ECB;nh h&agrave;nh
            li
              a(href='#frame5') &Dstrok;&aacute;nh gi&aacute; t&#x1EEB; kh&aacute;ch h&agrave;ng
            li
              a(href='#') MAIL@MSI.COM
        .ft__c3.ft__c1--txt
          | V&#x1EC0; CH&Uacute;NG M&Igrave;NH
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tempor nisi. Vestibulum risus nisl, rhoncus vel nisi eu, tempor euismod erat. Maecenas viverra aliquam nunc nec viverra.
        .ft__c4
          i.fa-brands.fa-instagram
          i.fa-brands.fa-facebook
          i.fa-brands.fa-telegram
          i.fa-brands.fa-whatsapp
          i.fa-brands.fa-youtube
        .copyright Copyright &copy; 2022 By LINAHAI
    script.
      console.log = function() {}
    script(src='./assets/js/f4__trending.js')
    script(src='./assets/js/script_sliderf5.js')
    script(src='./assets/js/sliderFooter.js')