<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lina Saffron</title>  <!-- XXXXXXXXXXXXXXXXXXXxxxx -->
    <link rel="icon" href="./assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/vars.css">
    <link rel="stylesheet" href="./assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/frame4_trendin.css">
    <link rel="stylesheet" href="./assets/css/footer.css">
    <script src="https://kit.fontawesome.com/93a82ce0e9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="bgrColor2"></div>
    <div class="bgrColor1"></div>
    <div class="bgrColor0"></div>

    <div class="frame1">  
        <div class="bgrColor0--m"></div>
        <a href="#" class="logo">
          <img src="./assets/img/logo.png" width="78" height="75">
        </a>
        
        <div class="bigImage"></div>
        <div id="txtMain">
          <h1>Saffron Bahraman</h1>
          <h2>Vàng đỏ của Iran</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    
        <div class="dummy"></div>
    
        <!-- CÁC SẢN PHẨM -->
    
        <div id="navBar">
          <ul class="navBar">
            <!-- <li>SAXXXASD</li> -->
            <a href="#frame2">VỀ SAFFRON</a>
            <li class="abc">CÁC SẢN PHẨM
              <ul class="subNav">
                <li class="subNav__gr1">Saffron</li>
                <li><a href="./pages/explore.html">Safrron 1gr, 2gr, 3gr, 5gr</a></li>
                <li><a href="#">Set quà tặng</a></li>

                <!-- <li class="subNav__gr2 subNav__gr1">Sản phẩm chiết xuất</li> -->
                <li class="subNav__gr2 subNav__gr1">Sản phẩm chiết xuất từ Saffron</li>
                <li><a href="#">Mặt nạ</a></li>
                <li><a href="#">Dung dịch vệ sinh</a></li>
                <li><a href="#">Serum, kem dưỡng</a></li>
              </ul>
            </li>
            <!-- ĐANG THỊNH HÀNH -->
            <!-- <li></li> -->
            <!-- <li><a href="#frame4__before">ĐANG THỊNH HÀNH</a></li> -->
            <a href="#frame4__before">ĐANG THỊNH HÀNH</a>
            <!-- <li><a href="#frame5">ĐÁNH GIÁ</a></li> -->
            <a href="#frame5">ĐÁNH GIÁ</a>
            <div class="blur"></div>
          </ul>
        </div>
    
      </div>
    
    <div id="frame2"></div>
    <div class="frame2"></div>
    <div class="frame3">
        <div class="f3__inside"></div>
    </div>
    <div id="frame4__before">
        <div class="f4bf--txt">ĐANG THỊNH HÀNH</div>
    </div>
    <div class="frame4">
        <div class="f4__yellow vhl"></div>
        <div class="guidef4 vhl"></div>
        <div class="bgr"></div>

        <div class="f4__main vhl">
            <div class="f4__item">
                <div class="f4__itsMain vhl">
                    <div class="f4__img"></div>
                    <div class="f4__txt">
                        <h1>BOX 5XX SIZE</h1>
                        <h2>123456</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tempor nisi. Vestibulum risus nisl, rhoncus vel nisi eu, tempor euismod erat.</p>
                    </div>                
                </div>
                <div class="f4__btn">MUA HANG</div>
            </div>
            <!-- <div class="f4__item"></div>
            <div class="f4__item"></div>
            <div class="f4__item"></div>
            <div class="f4__item"></div> -->
        </div>
    </div>
    <div id="frame5">
        <div class="fr5__container">
            <div class="fr5__fbImgs">
                <img class="img-no_1">
                <img class="img-no_2">
                <img class="img-no_3">
                <img class="img-no_4">
                <!-- <button onclick="left()" class="btn"></button> -->
                <div onclick="f5slide(-1)" class="btn btn--left"></div>
                <div onclick="f5slide(1)" class="btn btn--right"></div>
            </div>	
            <div class="fr5__fbTxt"></div>
        </div>
    </div>
    <div class="frame6">
        <div id="fr6__blurBgr" class="fr6__blurBgr"></div>
        <div id="fr6__container" class="fr6__container">            
        </div>
        <div class="f6__wbgr"></div>
    </div>
    <div id="frame7"></div>
    <div class="frame7">
        <div class="guide"></div>
        <div class="footer__container">
            <div class="ft__c1 ft__c1--txt">
                LIÊN HỆ
                <ul>
                    <li><i class="ti-location-pin ti"></i>HAI DUONG, VIET NAM</li>
                    <li><i class="ti-location-pin ti"></i>MOSCOW, LIEN BANG NGA</li>
                    <li><i class="ti-mobile ti"></i><a href="tel:+84 000 999 000">+ 84 000 999 000</a></li>
                    <li><i class="ti-mobile ti"></i><a href="tel:+7 999 000 999">+ 7 999 000 999</a></li>
                    <li><i class="ti-email ti"></i><a href="mailto:mail@msi.com">MAIL@MSI.COM</a></li>
                </ul>
            </div>
            <div class="ft__c2 ft__c1--txt">
                BẢN ĐỒ
                <ul>
                    <li><a href="#">Về đầu trang</a></li>
                    <li><a href="./pages/explore.html">Các sản phẩm</a></li>
                    <li><a href="#frame4__before">Đang thịnh hành</a></li>
                    <li><a href="#frame5">Đánh giá từ khách hàng</a></li>
                    <li><a href="#">MAIL@MSI.COM</a></li>
                </ul>
            </div>
            <div class="ft__c3 ft__c1--txt">
                VỀ CHÚNG MÌNH
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tempor nisi. Vestibulum risus nisl, rhoncus vel nisi eu, tempor euismod erat. Maecenas viverra aliquam nunc nec viverra.</p>
            </div>
            <div class="ft__c4">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="copyright">Copyright © 2022 By LINAHAI</div>
        </div>
    </div>

</body>
</html>
<script>console.log = function() {}</script>
<script src="./assets/js/f4__trending.js"></script>
<script src="./assets/js/script_sliderf5.js"></script>
<script src="./assets/js/sliderFooter.js"></script>