<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/img/hmm.png" type="image/x-icon" />
    <title>TC PRJ</title>
</head>
<link rel="stylesheet" href="./assets/css/style.css">
<body>
<!-- <div class="logo"> -->
    <img class="logo" src="./assets/img/hmm.png">
<!-- </div> -->

<div class="mainC">        
    <div class="input-box input-box__sl">
        <span class="details">SL %</span>
        <!-- <br> -->
        <input type="text" placeholder="SL % here">
    </div>    

    <div class="input-box input-box__u">
        <span class="details">SL U</span>
        <!-- <br> -->
        <input type="text" placeholder="SL U here" value="70">
    </div>    

    <div class="input-box input-box__lev">
        <span class="details">Lev x</span>
        <!-- <br> -->
        <input type="text" placeholder="Lev X here">
    </div>    
    <div class="slidecontainer">
        <span class="details">Lev: 
            <span id="levVal"></span>x
        </span>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>

    <div class="res">
        <p style="text-align: center;">AMOUNT:</p>
        <p><span id="js-res"></span>U</p>
        <p><span id="js-res--big"></span>U</p>

        <div class="btn-copy" onclick="btnCopy()">
            COPY
        </div>
    </div>
    <br>
    <br>
    <br>
    <a href="./moon.html" class="changeSBotic" id="toMoon"></a>
    <br>
    <a href="./othersS/currency/index.html" class="changeSBotic" id="toCur"></a>
</div>

</body>
<script src="./assets/js/style.js"></script>
</html>