<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các sản phẩm</title>  <!-- XXXXXXXXXXXXXXXXXXXxxxx -->
    <link rel="icon" href="../assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/style__explore.css">
    <link rel="stylesheet" href="../assets/css/vars.css">
    <link rel="stylesheet" href="../assets/css/footer.css">

    <link rel="stylesheet" href="../assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/93a82ce0e9.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="nbNocont">
    <div class="navBarNo">
        <!-- <div class="navBarNo__logo"><a href="#">xxxxx</a></div> -->
        <a href="../a" class="navBarNo__logo"><img src="../assets/img/logo.png" alt="" height="40px"></a>
        <ul>
            <li><a href="../a#frame2">VỀ SAFFRON</a></li>
            <li><a href="#">CÁC SẢN PHẨM</a></li>
            <li><a href="../a#frame5">ĐÁNH GIÁ</a></li>
            <li><a href="#frame7">VỀ CHÚNG MÌNH</a></li>                                                                                
        </ul>
    </div>
    </div>
    
    <!-- <div class="leftC">  </div> -->
    
    

    <div class="mainDiv">
        <div class="bgrNavBarNo"></div>

        <div class="guide vhl"></div>
        <div class="main">
          <div class="leftC"> 
            <!-- <div class="leftC__dummy"></div> -->
            <div class="navBarLS"></div>
        </div>

          <div class="rightC">
            <div class="rightRad">
                <h1>CÁC SẢN PHẨM</h1>
                <h2 class="typeI">TYPE I</h2>
              <div class="productC productC__type1">
                <div class="row row__1">
                  <div class="product">
                    <div class="product__img"></div>
                    <div class="product__nimg">
                      <div class="product__txt">
                        <h1>THE BOX XGR</h1>
                        <h2>50 000</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                      </div>
                      
                      <a href="../pages/products/product001.html" class="btnBuy">
                        <p>ĐẶT MUA</p>
                      <!-- <div class="btnBuy">
                      </div> -->
                      <!-- ĐẶT MUA -->
                    </a>
                    </div>
                  </div>    
                </div>
              </div>
            
              <h2 class="type2">TYPE II</h2>

            </div>
          </div>
        </div>
      </div>

      <div id="frame7"></div>
      <div class="frame7">
        <div class="guide"></div>
        <div class="footer__container">
            <div class="ft__c1 ft__c1--txt">
                LIÊN HỆ
                <ul>
                    <li><i class="ti-location-pin ti"></i>HAI DUONG, VIET NAM</li>
                    <li><i class="ti-location-pin ti"></i>MOSCOW, LIEN BANG NGA</li>
                    <li><i class="ti-mobile ti"></i><a href="tel:+84 000 999 000">+ 84 000 999 000</a></li>
                    <li><i class="ti-mobile ti"></i><a href="tel:+7 999 000 999">+ 7 999 000 999</a></li>
                    <li><i class="ti-email ti"></i><a href="mailto:mail@msi.com">MAIL@MSI.COM</a></li>
                </ul>
            </div>
            <div class="ft__c2 ft__c1--txt">
                BẢN ĐỒ
                <ul>
                  <li><a href="#">Về đầu trang</a></li>
                  <li><a href="#">Các sản phẩm</a></li>
                  <li><a href="../a#frame4__before">Đang thịnh hành</a></li>
                  <li><a href="../a#frame5">Đánh giá từ khách hàng</a></li>
                  <li><a href="#">MAIL@MSI.COM</a></li>
              </ul>
            </div>
            <div class="ft__c3 ft__c1--txt">
                VỀ CHÚNG MÌNH
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tempor nisi. Vestibulum risus nisl, rhoncus vel nisi eu, tempor euismod erat. Maecenas viverra aliquam nunc nec viverra.</p>
            </div>
            <div class="ft__c4">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="copyright">Copyright © 2022 By LINAHAI</div>
        </div>
    </div>

</body>
<script src="../assets/js/explore.js"></script>
</html>